body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  font-family: Arial;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

form {
  background: white;
  padding: 40px;
  border-radius: 10px;
  width: 320px;
  text-align: center;
}

form h2 {
  margin-bottom: 25px;
}

form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
}

form button {
  width: 100%;
  padding: 12px;
  background: #6c5ce7;
  color: white;
  border: none;
  cursor: pointer;
}