body {
  margin: 0;
  padding: 0;
  background: #121212;
  font-family: Arial;
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: #1f1f1f;
  padding: 40px;
  border-radius: 10px;
  width: 350px;
  text-align: center;
}

.login-card h1 {
  color: white;
  margin-bottom: 30px;
}

.login-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
}

.login-card button {
  width: 100%;
  padding: 12px;
  border: none;
  background: #00b894;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.login-card button:hover {
  background: #019875;
}

.login-card a {
  display: block;
  margin-top: 15px;
  color: #74b9ff;
  text-decoration: none;
}