* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #050816;
  overflow: hidden;
}

.login-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 350px;
  padding: 40px;
  background: rgba(0,0,0,0.8);
  border: 2px solid #00f7ff;
  border-radius: 15px;
  box-shadow: 0 0 20px #00f7ff;
  text-align: center;
}

.login-box h1 {
  color: #00f7ff;
  margin-bottom: 30px;
  text-shadow: 0 0 10px #00f7ff;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  background: transparent;
  border: 1px solid #00f7ff;
  color: white;
  border-radius: 5px;
}

.login-box input::placeholder {
  color: #b2bec3;
}

.login-box button {
  width: 100%;
  padding: 12px;
  background: #00f7ff;
  border: none;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.login-box button:hover {
  background: #00c3ff;
  box-shadow: 0 0 15px #00f7ff;
}